# Code Like a Girl - Python for Machine Learning

## What we'll cover
* Values, Variables and Types
* Operators

### Hot tips for getting started using jupyter notebook:
* Use shift + enter on your keyboard to execute a cell
* There are lots of command shortcuts which can make your life easier, you can read all about them in the documentation [here](http://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Notebook%20Basics.html)
* If you get stuck, use your mouse to click anywhere outside the cell area - it's all good!

## Let's get stuck in! Quick, type your first line of code:

```print('Hello, World!') ```

In [0]:
print('Hello, World!')

Hello, World!

## Values, Variables and Types

Values in programming represent the 'things' or data we are dealing with. 

The word *variable* in programming describes a place to store information. Another way to think about variables is as a *name* or a *label* for the value. 

Values have *types*. The datatype of a value will determine what you can and can't do with it. 

All the data you will work with in Python has a **type**. You can check the datatype using the `type()` function. 

Here are some importat datatypes for you to know:
* **String** - Text. Think of it as a string of characters! You can create strings by putting quote marks around it. 
* **Integer** - A whole number, e.g. 4 or 6
* **Float** - A number with a decimal, e.g. 6.7, 3.14 

In Python, you define a variable with the '=' operator. Run this code as an example:

In [0]:
name = 'Jessica Jones'
print(name)

Jessica Jones

You can check the datatype of a variable by using the `type()` fuction:

In [0]:
type(name)

str

### Your turn! 
### Exercise 1
   - Define a variable called `name` with your name as a string
   - Define another variable `age` with your age as an integer
   - Try displaying them using the `print()` function

In [0]:
# Exercise 1
name = "Alicia"
age = 55
print(name)
print(age)

# Bonus: you can print both of these together with the following code:
# print('My name is ', my_name, ' and my age is ', age)

 - Display the datatype of the name and age variables

In [9]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

## Operators 

You can use Python to do basic mathematical operations

* Addition: `+` 
* Subtraction: `-`
* Multiplication: `*`
* Division: `/`

Have a go at some basic maths using the above operators!

### Exercise 2

 - Try adding 3 and 4 and putting the result in a variable
 - Calculate 7 divided by 9
 - Calculate 3 times (4 divided by 17)
 Display your results on the screen

In [14]:
# TO DO: Hint: try the following:
#        result = .... [Your code here]
#        print(result)

answer = 3 + 4
print(answer)

print(7/9)
print(3*(4/17))

7
0.7777777777777778
0.7058823529411764

## Numpy library

You can use extra functionality that is not part of the basic python language by importing libraries of functions. You can import libraries into python using the syntax

`import [name of library]`

There is a particularly useful library called Numpy that allows us to work with a datatype called an **array**

### Arrays

An array is like a list of elements.
You can define an array by using a numpy function called `numpy.array`.

Try the following code

`import numpy as np`

`np.array([1,2,3])`

In [2]:
import numpy as np
np.array([1,2,3])

array([1, 2, 3])

In [3]:
cities = np.array(['sf','mel'])
print(cities)

['sf' 'mel']

### Exercise 3

 - Try creating an array with any 4 string values in it.

In [0]:
# Create an array with string values in it

**More Types?!** 
There are more types than what we've covered here! Check out the [Python Documentation](https://docs.python.org/2/library/datatypes.html) for more

## Want more? Some useful resouces! 


[PyLadies Meetup](http://melbourne.pyladies.com/) - Monthly talks about Python in the city 

[Improve your Python skills](https://dbader.org/python-basics) - Nice blog posts 

[Weekly Python Chat](http://www.weeklypython.chat/) - Interesting weekly videos of all things Python (it goes back a fair bit so there are loads of things in there) 

[Talk Python To Me](https://talkpython.fm/) - A podcast about topics in Python


[Code Academy](https://www.codecademy.com/) - Free courses in loads of languages

[CS50 - Introduction to computer science](https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x) - If you're super keen!