# Lesson 2 Lab:  Practical Pandas

In [1]:
import pandas as pd
import os

data = pd.read_csv('../../assets/dataset/ozone.csv') # <-- What's going on with the path?

In [2]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [4]:
#Two ways to accomplish this - loop and list comprehension.

for col in data.columns:
    print(col)

    
[col for col in data.columns]

Ozone
Solar.R
Wind
Temp
Month
Day

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [5]:
data.iloc[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [15]:
print(data.shape[0])
print(len(data))
print(data.info())

153
153
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB
None

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [23]:
print(data.tail(2))

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [27]:
print(data.iloc[46]['Ozone'])
print(data['Ozone'][46])

21.0
21.0

How many missing values are in the Ozone column of this data frame?

In [33]:
print(data['Ozone'].isnull().sum())

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [48]:
data['Ozone'].mean(skipna = True)

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [44]:
df2 = data[(data['Ozone'] > 31) & (data['Temp'] > 90)]
df2['Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [49]:
data[data['Month'] == 6]['Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [50]:
data[data['Month'] == 5]['Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas